<?xml version="1.0"?>
<configuration>

	<!-- Configurações gerais -->
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<!-- Configurações de conexão com a Base de Dados -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=tcp:ecommercesqlserverisi.database.windows.net,1433;
							Initial Catalog=ISISOAPECommerce;
							Persist Security Info=False;
							User ID=ISIECommerce;
							Password=P#31073859#v;
							MultipleActiveResultSets=False;
							Encrypt=True;
							TrustServerCertificate=False;
							Connection Timeout=30;" />
	</connectionStrings>

	<!-- Configurações para ASP.NET -->
	<system.web>
		<compilation debug="false" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<!-- Configurações para WCF -->
	<system.serviceModel>
		<services>
			<service name="ECommerceService">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="IECommerceService" />
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Metadata e debug -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<!-- Configurações para o servidor web -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
